<h2>Hi <%= @user.username %>!</h2>

<form action=" <%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
</form>