#root {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    /* background-color: brown; */
    display: block;
    margin: 15%;
    /* flex-direction: row;
    justify-content: space-between; */
    /* margin-left: 100%;
    margin-right: 100%; */
}
h1 {
    padding: 10px;  
    /* background-color: green; */
}

.timeAndDate {
    border: 1px solid black;
}

.test{
    background-color: aqua;
}

p {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: brown;
    color: white
}

ul {
    background-color: green;
}